.vscode
__pycache__
analysis/backup
analysis/cm
analysis/svm_report
analysis/tsne
checkpoints
checkpoints*
logs
logs*
auto/scripts
auto/results
auto/tmp
*.pyc
preprocess/.tmp
preprocess/smile.log
shared_image/our_changecom_IEMOCAP_block_5_run_1_V020006/1/predict/36-our_predict.jpg
shared_image/our_IEMOCAP_block_5_run_1_V020001/5/common/27-our_shared.jpg
shared_image/our_IEMOCAP_block_5_run_1_V020005/6/common/34-our_shared.jpg
shared_image/our_IEMOCAP_block_5_run_1_V020005/loss/result_loss.tsv
shared_image/our_IEMOCAP_block_5_run_1_V020006/4/common/23-our_shared.jpg
